<%- include("./layouts/header.ejs")%>


    <h1 class="page_heading">About Us</h1>
    <section class="sas-1">
        <%for(var i=0; i< aboutData.length;i++){%>
            <div class="sas-1-1">
                <div class="sas-1-1-1">
                    <img src="<%=aboutData[i].about_image%>" alt="<%=aboutData[i].about_image%>">
                </div>

                <div class="sas-1-1-2">
                    <h1>
                        <%=aboutData[i].about_title%>
                    </h1>
                    <p>
                        <%=aboutData[i].about_content%>
                    </p>
                </div>
            </div>

            <%}%>
                <div class="band"></div>

    </section>



        <script>

             const section_element0 = document.querySelectorAll('.sas-1-1-1');
            const section_element1 = document.querySelectorAll('.sas-1-1-2');
            window.addEventListener('scroll', () => {
                
                const screenPosition = window.innerHeight;
                
                section_element0.forEach(e => {
                    const contentHeight = e.getBoundingClientRect().top;
                    if (contentHeight < screenPosition) {
                        e.classList.add('active');
                    }
                })
                section_element1.forEach(e => {
                    const contentHeight = e.getBoundingClientRect().top;
                    if (contentHeight < screenPosition) {
                        e.classList.add('active');
                    }
                })
            });

            window.addEventListener('load',()=>{
               section_element0[0].classList.add('active')
               section_element1[0].classList.add('active')
            })
        </script>
    <%- include("./layouts/footer.ejs")%>