<%- include("./layouts/header2.ejs")%>

  <section class="sehs-1">

    <div class="sehs-1-1">
      <h3>DASHBOARD</h3>

      <div class="sehs-1-1-2">
        <div>
          <i class="fa-sharp fa-solid fa-house"></i>
          <a href="/admin/edithome">Home Page</a>
        </div>

        <div>
          <i class="fa-sharp fa-solid fa-diagram-project"></i>
          <a href="/admin/editprojects">Project Page</a>
        </div>

        <div>
          <i class="fa-sharp fa-solid fa-bell-concierge"></i>
          <a href="/admin/editservices">Services Page</a>
        </div>

        <div>
          <i class="fa-sharp fa-solid fa-address-card"></i>
          <a href="/admin/editabout">About Page</a>
        </div>


        <div>
          <i class="fa-brands fa-instagram"></i>
          <a href="/admin/editmedia">Media Page</a>
      </div>

        <div>
          <i class="fa-sharp fa-solid fa-chart-simple"></i>
          <a href="/admin/analytics">Contact/Analytics</a>
      </div>



      </div>


      <div class="sehs-1-1-3">
        <a href="/admin/logout">Log Out</a>
      </div>

    </div>



    <div class="sehs-1-2">
      <h3>MEDIA PAGE</h3>
  
      <div class="sehs-1-2-2"> 
        <form action="/admin/editmedia" method="POST">
          <label for="">Instagram Link</label>
          <input type="text" name="instagramLink" placeholder="Enter Link">
          <label for="">Pintrest Link</label>
          <input type="text" name="pintrestLink" placeholder="Enter Link">
          <input type="submit" value="submit">
        </form>
      </div>

      <div class="sehs-1-2-3">
        <ul>
          <li class="sehs-1-2-3-heading">
            <p>INSTAGRAM LINK</p><p>PINTREST LINK</p><a></a>
          </li>
          <% for (var i=0; i <editmedia.length; i++ ) { %>
          <li class="text-closed">
            <p>   
              <%= editmedia[i].instagram_link%>
            </p>
            <p>
              <%= editmedia[i].pintrest_link %>
            </p> 
            <a href=""><i class="fa-solid fa-trash deleteData" data-id="<%=editmedia[0]._id%>"></i></a>

          </li>
          <% } %>


        </ul>
      </div>
 

      <div class="sehs-1-2-2"> 
        <form action="/admin/editmedia-article" method="POST" enctype="multipart/form-data">
          <label for="">Featured In</label>
          <input type="text" name="featuredLink" placeholder="Enter Link of featured article">
          <input type="text" name="featuredTitle" placeholder="Enter featured article Name">
          <input type="file" name="image"  >
          <input type="submit" value="submit">
        </form>
      </div>
     
      <div class="sehs-1-2-3">
        <ul>
          <li class="sehs-1-2-3-heading">
            <p>IMAGE</p><p>ARTICLE NAME</p><p>ARTICLE LINK</p><a></a>
          </li>
          <% for (var i=0; i <editarticle.length; i++ ) { %>
          <%if(editarticle[i].featured_link != "" ){%>
          <li class="text-closed">
            <img data-src="/images/<%= editarticle[i].featured_image %>" alt="<%= editarticle[i].featured_image %>">
            <p> 
              <%= editarticle[i].featured_title%> 
            </p>
            <p> 
              <%= editarticle[i].featured_link%>
            </p>
            <a href=""><i class="fa-solid fa-trash deleteData-article" data-id="<%=editarticle[0]._id%>"></i></a>

          </li>
          <%}%>
          <% } %>


        </ul>
      </div>

    </div>

  </section>

  <script>

    $(document).ready(function () {
      $('.deleteData').click(function () {
        var postId = $(this).attr('data-id')
        var obj = $(this);

        $.ajax({
          url: "/admin/deletemediadata",
          type: "POST",
          data: { id: postId }
        })
      })
    })

    $(document).ready(function () {
      $('.deleteData-article').click(function () {
        var postId = $(this).attr('data-id')
        var obj = $(this);

        $.ajax({
          url: "/admin/deletemediadata-article",
          type: "POST",
          data: { id: postId }
        })
      })
    })
  </script>

  </body>

  </html>