<%- include("./layouts/header.ejs")%>

    <section class="sms-1">

        <div class="sms-1-1-title">
            <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_177_9)">
                <path d="M45.0218 0.681641C26.5165 0.681641 21.1044 0.700732 20.0524 0.788004C16.2547 1.10369 13.8916 1.70164 11.3172 2.98346C9.33314 3.96869 7.76841 5.11073 6.22414 6.71164C3.41173 9.63119 1.70723 13.223 1.09021 17.4925C0.790217 19.5653 0.702947 19.988 0.68522 30.5753C0.678402 34.1044 0.68522 38.7489 0.68522 44.9787C0.68522 63.4696 0.705674 68.8764 0.794308 69.9264C1.10112 73.6219 1.68064 75.9469 2.90788 78.4901C5.25326 83.3582 9.73267 87.0128 15.0098 88.3764C16.837 88.8469 18.8551 89.106 21.446 89.2287C22.5436 89.2764 33.7319 89.3105 44.9271 89.3105C56.1222 89.3105 67.3173 89.2969 68.3877 89.2423C71.3876 89.1012 73.1296 88.8673 75.0557 88.3696C80.3669 86.9991 84.7645 83.3991 87.1576 78.4628C88.361 75.981 88.9712 73.5673 89.2473 70.0648C89.3073 69.3012 89.3325 57.126 89.3325 44.9671C89.3325 32.8062 89.3053 20.6535 89.2453 19.8898C88.9657 16.3307 88.3555 13.9376 87.1133 11.408C86.094 9.33732 84.9622 7.79096 83.3191 6.20982C80.3867 3.40891 76.8004 1.70437 72.5269 1.088C70.4563 0.788686 70.0438 0.70005 59.4487 0.681641H45.0218Z" fill="url(#paint0_radial_177_9)"/>
                <path d="M45.0218 0.681641C26.5165 0.681641 21.1044 0.700732 20.0524 0.788004C16.2547 1.10369 13.8916 1.70164 11.3172 2.98346C9.33314 3.96869 7.76841 5.11073 6.22414 6.71164C3.41173 9.63119 1.70723 13.223 1.09021 17.4925C0.790217 19.5653 0.702947 19.988 0.68522 30.5753C0.678402 34.1044 0.68522 38.7489 0.68522 44.9787C0.68522 63.4696 0.705674 68.8764 0.794308 69.9264C1.10112 73.6219 1.68064 75.9469 2.90788 78.4901C5.25326 83.3582 9.73267 87.0128 15.0098 88.3764C16.837 88.8469 18.8551 89.106 21.446 89.2287C22.5436 89.2764 33.7319 89.3105 44.9271 89.3105C56.1222 89.3105 67.3173 89.2969 68.3877 89.2423C71.3876 89.1012 73.1296 88.8673 75.0557 88.3696C80.3669 86.9991 84.7645 83.3991 87.1576 78.4628C88.361 75.981 88.9712 73.5673 89.2473 70.0648C89.3073 69.3012 89.3325 57.126 89.3325 44.9671C89.3325 32.8062 89.3053 20.6535 89.2453 19.8898C88.9657 16.3307 88.3555 13.9376 87.1133 11.408C86.094 9.33732 84.9622 7.79096 83.3191 6.20982C80.3867 3.40891 76.8004 1.70437 72.5269 1.088C70.4563 0.788686 70.0438 0.70005 59.4487 0.681641H45.0218Z" fill="url(#paint1_radial_177_9)"/>
                <path d="M45.0014 12.2729C36.1135 12.2729 34.998 12.3118 31.5072 12.4707C28.0233 12.6302 25.6451 13.1818 23.5643 13.9911C21.4119 14.827 19.586 15.9452 17.767 17.765C15.9466 19.5841 14.8284 21.41 13.9898 23.5618C13.1785 25.6434 12.6262 28.0223 12.4694 31.505C12.3133 34.9959 12.2724 36.112 12.2724 45.0002C12.2724 53.8884 12.3119 55.0005 12.4701 58.4914C12.6303 61.9755 13.1819 64.3536 13.9905 66.4345C14.8271 68.587 15.9452 70.413 17.7649 72.232C19.5833 74.0525 21.4091 75.1734 23.5602 76.0093C25.6424 76.8186 28.0212 77.3702 31.5045 77.5298C34.9953 77.6886 36.1101 77.7275 44.9973 77.7275C53.8859 77.7275 54.9979 77.6886 58.4887 77.5298C61.9727 77.3702 64.3535 76.8186 66.4357 76.0093C68.5875 75.1734 70.4106 74.0525 72.229 72.232C74.0494 70.413 75.1675 68.587 76.0061 66.4352C76.8106 64.3536 77.3629 61.9748 77.5265 58.492C77.6833 55.0011 77.7242 53.8884 77.7242 45.0002C77.7242 36.112 77.6833 34.9966 77.5265 31.5057C77.3629 28.0216 76.8106 25.6434 76.0061 23.5625C75.1675 21.41 74.0494 19.5841 72.229 17.765C70.4086 15.9445 68.5882 14.8264 66.4337 13.9911C64.3474 13.1818 61.9679 12.6302 58.4839 12.4707C54.9931 12.3118 53.8818 12.2729 44.9911 12.2729H45.0014ZM42.0656 18.1707C42.9369 18.1693 43.9091 18.1707 45.0014 18.1707C53.7393 18.1707 54.7749 18.202 58.2255 18.3589C61.4163 18.5048 63.1481 19.0379 64.3017 19.4859C65.8289 20.0791 66.9178 20.7882 68.0625 21.9336C69.2079 23.0791 69.917 24.17 70.5115 25.6973C70.9595 26.8495 71.4933 28.5814 71.6385 31.7723C71.7953 35.2223 71.8294 36.2586 71.8294 44.9927C71.8294 53.7268 71.7953 54.7632 71.6385 58.2132C71.4926 61.4041 70.9595 63.1359 70.5115 64.2882C69.9183 65.8155 69.2079 66.903 68.0625 68.0477C66.9171 69.1932 65.8296 69.9023 64.3017 70.4954C63.1495 70.9454 61.4163 71.4773 58.2255 71.6232C54.7756 71.78 53.7393 71.8141 45.0014 71.8141C36.2628 71.8141 35.2271 71.78 31.7772 71.6232C28.5864 71.4759 26.8547 70.9427 25.7004 70.4948C24.1731 69.9016 23.0823 69.1925 21.9368 68.047C20.7914 66.9016 20.0824 65.8134 19.4878 64.2855C19.0399 63.1332 18.506 61.4014 18.3608 58.2104C18.204 54.7604 18.1726 53.7241 18.1726 44.9845C18.1726 36.245 18.204 35.2141 18.3608 31.7641C18.5067 28.5732 19.0399 26.8414 19.4878 25.6877C20.081 24.1604 20.7914 23.0695 21.9368 21.9241C23.0823 20.7786 24.1731 20.0695 25.7004 19.475C26.854 19.025 28.5864 18.4932 31.7772 18.3466C34.7962 18.2102 35.9662 18.1693 42.0656 18.1625V18.1707ZM62.4704 23.6048C60.3023 23.6048 58.5432 25.3618 58.5432 27.5307C58.5432 29.6989 60.3023 31.4579 62.4704 31.4579C64.6385 31.4579 66.3975 29.6989 66.3975 27.5307C66.3975 25.3625 64.6385 23.6034 62.4704 23.6034V23.6048ZM45.0014 28.1934C35.7201 28.1934 28.1951 35.7186 28.1951 45.0002C28.1951 54.2818 35.7201 61.8036 45.0014 61.8036C54.2827 61.8036 61.805 54.2818 61.805 45.0002C61.805 35.7186 54.2827 28.1934 45.0014 28.1934ZM45.0014 34.0911C51.0257 34.0911 55.9101 38.975 55.9101 45.0002C55.9101 51.0248 51.0257 55.9093 45.0014 55.9093C38.9763 55.9093 34.0926 51.0248 34.0926 45.0002C34.0926 38.975 38.9763 34.0911 45.0014 34.0911Z" fill="white"/>
                </g>
                <defs>
                <radialGradient id="paint0_radial_177_9" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(24.2301 96.1368) rotate(-90) scale(87.8377 81.7158)">
                <stop stop-color="#FFDD55"/>
                <stop offset="0.1" stop-color="#FFDD55"/>
                <stop offset="0.5" stop-color="#FF543E"/>
                <stop offset="1" stop-color="#C837AB"/>
                </radialGradient>
                <radialGradient id="paint1_radial_177_9" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(-14.1672 7.06631) rotate(78.678) scale(39.2642 161.885)">
                <stop stop-color="#3771C8"/>
                <stop offset="0.128" stop-color="#3771C8"/>
                <stop offset="1" stop-color="#6600FF" stop-opacity="0"/>
                </radialGradient>
                <clipPath id="clip0_177_9">
                <rect width="90" height="90" fill="white"/>
                </clipPath>
                </defs>
                </svg>
            <h3>Enjoy Our Latest Post on Instagram</h3>
        </div>
        <div class="sms-1-1">
         
        <% for (var i=0; i <mediaData.length; i++ ) { %>
           <% if(mediaData[i].instagram_link != ""){%>
            <div class="media_container">
            <blockquote class="instagram-media" data-instgrm-captioned
                data-instgrm-permalink="<%=mediaData[i].instagram_link %>?utm_source=ig_embed&amp;utm_campaign=loading "
                data-instgrm-version="14"
                style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);width:300px !important;">
                <div style="padding:16px;"> <a
                        style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;"
                        target="_blank">
                        <div style=" display: flex; flex-direction: row; align-items: center;">
                            <div
                                style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;">
                            </div>
                            <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;">
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;">
                                </div>
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;">
                                </div>
                            </div>
                        </div>
                        <div style="padding: 19% 0;"></div>
                        <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px"
                                height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg"
                                xmlns:xlink="https://www.w3.org/1999/xlink">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(-511.000000, -20.000000)" fill="#000000">
                                        <g>
                                            <path
                                                d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div style="padding-top: 8px;">
                            <div
                                style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">
                                View this post on Instagram</div>
                        </div>
                        <div style="padding: 12.5% 0;"></div>
                        <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;">
                            <div>
                                <div
                                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);">
                                </div>
                                <div
                                    style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;">
                                </div>
                                <div
                                    style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);">
                                </div>
                            </div>
                            <div style="margin-left: 8px;">
                                <div
                                    style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;">
                                </div>
                                <div
                                    style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)">
                                </div>
                            </div>
                            <div style="margin-left: auto;">
                                <div
                                    style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);">
                                </div>
                                <div
                                    style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);">
                                </div>
                                <div
                                    style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);">
                                </div>
                            </div>
                        </div>
                        <div
                            style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;">
                            <div
                                style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;">
                            </div>
                            <div
                                style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;">
                            </div>
                        </div>
                    </a>

                </div>
            </blockquote> 
            </div>
            <%}%> 
        <% } %>   
        </div>  
                  

        <div class="sms-1-1-title"> 
            <svg width="90" height="90" viewBox="0 0 305 305" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M304.98 152.49C304.98 236.708 236.708 304.98 152.49 304.98C68.2727 304.98 0.000244141 236.708 0.000244141 152.49C0.000244141 68.2717 68.2727 0.000476837 152.49 0.000476837C236.708 0.000476837 304.98 68.2717 304.98 152.49Z"
                    fill="white" />
                <path
                    d="M152.49 0.000476837C68.2725 0.000476837 0 68.273 0 152.49C0 217.093 40.1937 272.319 96.9187 294.538C95.5862 282.473 94.3812 263.918 97.4475 250.747C100.219 238.845 115.329 174.949 115.329 174.949C115.329 174.949 110.767 165.814 110.767 152.309C110.767 131.105 123.057 115.275 138.36 115.275C151.37 115.275 157.654 125.043 157.654 136.755C157.654 149.839 149.324 169.4 145.025 187.528C141.432 202.705 152.636 215.083 167.606 215.083C194.709 215.083 215.542 186.505 215.542 145.254C215.542 108.743 189.307 83.2155 151.846 83.2155C108.457 83.2155 82.99 115.759 82.99 149.392C82.99 162.498 88.0387 176.552 94.3387 184.192C95.585 185.702 95.7675 187.024 95.3963 188.565C94.2388 193.382 91.6663 203.739 91.1613 205.859C90.4963 208.65 88.9512 209.243 86.0612 207.898C67.0162 199.033 55.1087 171.188 55.1087 148.823C55.1087 100.72 90.0587 56.5442 155.865 56.5442C208.764 56.5442 249.872 94.2392 249.872 144.615C249.872 197.169 216.736 239.464 170.744 239.464C155.291 239.464 140.765 231.437 135.792 221.954C135.792 221.954 128.146 251.069 126.292 258.204C122.85 271.449 113.556 288.052 107.34 298.18C121.607 302.598 136.77 304.98 152.49 304.98C236.709 304.98 304.981 236.708 304.981 152.49C304.981 68.273 236.709 0.000476837 152.49 0.000476837Z"
                    fill="#E60023" />
            </svg>
            <h3>Enjoy Our Latest Post on Pinterest</h3>
        </div>  

        <div class="sms-1-1">
          
        <% for (var i=0; i <mediaData.length; i++ ) { %>
           <% if(mediaData[i].instagram_link != ""){%>
            <div class="media_container">
                <iframe src="https://assets.pinterest.com/ext/embed.html?id=<%=mediaData[i].pintrest_link%>" height="709" width="326" frameborder="0" scrolling="no" ></iframe>
            </div>
            <%}%>
        <% } %> 
        </div>   

               
        
        
        <h3 class="featured_title">Featured In</h3>
        <div class="sms-1-2">
        <% for (var i=0; i <articleData.length; i++ ) { %>
            <a href="<%=articleData[i].featured_link%>" aria-label="Featured article link" target="_blank"> 
                <p><%=articleData[i].featured_title%></p>
                <img src="/images/<%=articleData[i].featured_image%>" alt="img">
            </a> 
        <% } %>  
        </div>     


    </section>


    <script async src="//www.instagram.com/embed.js"></script>

    <%- include("./layouts/footer.ejs")%>