<%- include("./layouts/header.ejs")%>


    <section class="sps-1">

        <% for (var i=0; i <projectData.length; i++ ) { %>
            <div class="sps-1-1">
                <a href="<%=projectData[i]._id%>" aria-label="Go to project detail">
                    <img data-src="/images/<%=projectData[i].project_image[0]%>" alt="<%=projectData[i].project_image[0]%>">
                    <h1>
                        <%=projectData[i].project_title%>
                    </h1>
                </a>
            </div>
            <% } %>

    </section>

    <%- include("./layouts/footer.ejs")%>


