<%- include("./layouts/header.ejs")%>


    <section class="sas-1">

        <%for(var i =0; i< servicesData.length;i++){%>
            <div class="sas-1-1">
                <div class="sas-1-1-1">
                    <img src="<%=servicesData[i].services_image%>" alt="img">

                    <svg width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-1-1">
                        <rect width="6" height="106" fill="#3BCBBE"/>
                        <rect y="106" width="6" height="106" transform="rotate(-90 0 106)" fill="#3BCBBE"/>
                        <rect x="15" width="6" height="92" fill="#3BCBBE"/>
                        <rect x="15" y="92" width="6" height="91" transform="rotate(-90 15 92)" fill="#3BCBBE"/>
                        </svg>
                        
                    <svg width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-1-2">
                        <rect width="6" height="106" fill="#3BCBBE"/>
                        <rect y="106" width="6" height="106" transform="rotate(-90 0 106)" fill="#3BCBBE"/>
                        <rect x="15" width="6" height="92" fill="#3BCBBE"/>
                        <rect x="15" y="92" width="6" height="91" transform="rotate(-90 15 92)" fill="#3BCBBE"/>
                        </svg>
                        

                </div>
    
                <div class="sas-1-1-2"> 
                    <h1><%=servicesData[i].services_title%></h1>
                    <p><%=servicesData[i].services_content%></p>

                    <svg width="106" height="106" viewBox="0 0 106 106" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg-2">
                        <rect width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" width="10" height="10" fill="#3BCBBE" />
                        <rect y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="12" width="10" height="10" fill="#3BCBBE" />
                        <rect y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="24" width="10" height="10" fill="#3BCBBE" />
                        <rect y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="36" width="10" height="10" fill="#3BCBBE" />
                        <rect y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="48" width="10" height="10" fill="#3BCBBE" />
                        <rect y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="60" width="10" height="10" fill="#3BCBBE" />
                        <rect y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="72" width="10" height="10" fill="#3BCBBE" />
                        <rect y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="84" width="10" height="10" fill="#3BCBBE" />
                        <rect y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="12" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="24" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="36" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="48" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="60" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="72" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="84" y="96" width="10" height="10" fill="#3BCBBE" />
                        <rect x="96" y="96" width="10" height="10" fill="#3BCBBE" />
                    </svg>
                </div>
            </div>
        <%}%>



    </section>

    <%- include("./layouts/footer.ejs")%>


</body>
</html>