<%- include("./layouts/header.ejs")%>

<h1 class="page_heading">Services </h1>
    <section class="sas-1">

        <%for(var i =0; i< servicesData.length;i++){%>
            <div class="sas-1-1">
                <div class="sas-1-1-1">
                    <img src="<%=servicesData[i].services_image%>" alt="img">
                </div>
    
                <div class="sas-1-1-2"> 
                    <h1><%=servicesData[i].services_title%></h1>
                    <p><%=servicesData[i].services_content%></p>
                </div>
            </div>
        <%}%>
        <div class="band"></div>


    </section>


            <script>

             const section_element0 = document.querySelectorAll('.sas-1-1-1');
            const section_element1 = document.querySelectorAll('.sas-1-1-2');
            window.addEventListener('scroll', () => {
                
                const screenPosition = window.innerHeight;
                
                section_element0.forEach(e => {
                    const contentHeight = e.getBoundingClientRect().top;
                    if (contentHeight < screenPosition) {
                        e.classList.add('active');
                    }
                })
                section_element1.forEach(e => {
                    const contentHeight = e.getBoundingClientRect().top;
                    if (contentHeight < screenPosition) {
                        e.classList.add('active');
                    }
                })
            });

            window.addEventListener('load',()=>{
               section_element0[0].classList.add('active')
               section_element1[0].classList.add('active')
            })
        </script>




<%- include("./layouts/footer.ejs")%>
